.card{
	&.xs{
		.title{
			margin: 0;
			font-weight: normal;
			padding: $card-xs-title-padding-tb $card-xs-title-padding-lr;
			height: ($card-xs-title-padding-tb * 2) + (($card-xs-title-font-size * 2) * $body-line-height);
			font-size: $card-xs-title-font-size;
			overflow: hidden;
			color: $title-color;
			@include view-not-desktop{
				@include text-overflow;
				height: auto;
			}
		}
		&:hover .title,
		&.hover .title{
			color: $link-color-hover;
		}
	}
}