%grid{
	float: left;
	box-sizing: border-box;
	padding-left: $grid-gutter;
	padding-right: $grid-gutter;
}
@mixin grid($width){
    width: percentage($width);
}

.g{
	@extend .clearfix;
	margin-left: auto;
	margin-right: auto;
	padding-left: $grid-g-gutter;
	padding-right: $grid-g-gutter;
}

[class *= "g-desktop"],
[class *= "g-table"],
[class *= "g-phone"]{
	@extend %grid;
	@include view-phone{
		padding-left: $grid-g-phone-gutter;
		padding-right: $grid-g-phone-gutter;
	}
}


.row{
	padding-left: 0;
	padding-right: 0;
	margin-left: -$grid-g-gutter / 2;
	margin-right: -$grid-g-gutter / 2;
	@extend .clearfix;
	@include view-phone{
		margin-left: -$grid-g-phone-gutter / 2;
		margin-right: -$grid-g-phone-gutter / 2;
	}
}

//phone first
@mixin make_grid($type){
	@for $total-i from 1 through $grid-column{
		@for $i from 1 through $total-i{
			.g-#{$type}-#{$i}-#{$total-i} {
				@include grid($i / $total-i);
			}
		}
	}
}
@include make_grid(phone);

//only phone
@include view-phone{
	.hidden-phone,
	.visible-desktop,
	.visible-tablet{
		display: none;
	}
	[class *= "g-tablet"]:not([class *= "g-phone"]),
    [class *= "g-desktop"]:not([class *= "g-phone"]){
        width: 100%;
    }
  
    .g{
		padding-right: $grid-g-phone-gutter;
		padding-left: $grid-g-phone-gutter;
	}

	[class *= "g-desktop"],
	[class *= "g-table"],
	[class *= "g-phone"]{
	    padding-left: $grid-g-phone-gutter / 2;
	    padding-right: $grid-g-phone-gutter / 2;
	}
}

//on tablet and desktop
@include view-not-phone{
	.g{
		padding-right: $grid-g-desktop-gutter;
		padding-left: $grid-g-desktop-gutter;
	}
	@include make_grid(tablet);
}

//noly tablet
@include view-tablet{
	.visible-desktop,
	.visible-phone,
	.hidden-tablet{
		display: none;
	}
	
	@for $total-i from 1 through $grid-column{
		@for $i from 1 through $total-i{
			.g-tablet-#{$i}-#{$total-i} {
				@include grid($i / $total-i);
			}
		}
	}
	
    [class *= "g-desktop"]:not([class *= "g-tablet"]){
        width: 100%;
    }
}

//only desktop
@include view-desktop{
	.g{
		max-width: $grid-max-width-desktop;
	}
	.visible-tablet,
	.visible-phone,
	.hidden-desktop{
		display: none;
	}
	
	@include make_grid(desktop);
}