.page-template-page-sign #main{
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto;
}

.mx-sign-panel{
	overflow: inherit;
	box-shadow: 0 5px 30px rgba(0,0,0,.3);
	.heading{
		background: #fff;
		padding: 2rem 0 0;
		text-align: center;
		color: $link-color;
		margin-bottom: 0;
		font-size: 1.5rem;
		h3{
			font-weight: 100;
			margin: 0;
		}
	}
	&.has-avatar{
		margin-top: 60px;
	}
	.avatar{
		/*border-radius: 99px;*/
		width: 96px;
		height: 96px;
		margin-bottom: 2rem;
		margin-top: -80px;
		padding: 5px;
		background: #fff;
		box-shadow: 0 -3px 3px rgba(0,0,0,.1);
	}
	.content{
		box-shadow: none;
		border: none;
	}
}