.panel-rank{
	.tab-filter{
		@extend .page-tip;
	}
	.list-group-item{
		position: relative;
		&:hover,
		&.hover{
			background: $card-bg-color-hover;
		}
	}
	img.thumbnail{
		width: 100%;
	}
	.media-heading a{
		color: $link-color-visited;
		font-size: 1.5rem;
		&:hover,
		&.hover{
			color: $link-color-active;
		}
	}
	.excerpt{
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}
	.metas{
		color: $excerpt-color;
		.meta{
			margin-bottom: 1rem;
		}
		a{
			color: $excerpt-color;
			&:hover,
			&.hover{
				text-decoration: underline;
			}
		}
	}
	.index{
		position: absolute;
		right: 2rem;
		top: 0;
		font-size: 5rem;
		font-weight: bold;
		color: $accent-color;
		opacity: .2;
	}
}